* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 935px;
    height: 100vh;
}

.image-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.image-phone img {
    height: 42rem;
}

.login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.instagram-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #FFFF;
    width: 80%;
    padding: 40px 0;
    border: 1px solid lightgray;
    margin-bottom: 12px;
}

.instagram-form img {
    height: 5rem;
}

.instagram-form:nth-child(1) {
    min-height: 20rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 12px;
}

.instagram-login {
    background-color: #0095f6;
    color: #FFFF;
    padding: 12px;
    border-radius: 4px;
    margin-top: 32px;
}

.instagram-logout {
    color: #0095f6;
    font-weight: 500;
    margin-top: 20px;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px 0;
}

.download {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px;
}

.download img {
    width: 140px;
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 750px) {
    body {
        background-color: #FFFF;
    }

    .container {
        width: 90%;
    }

    .image-phone {
        display: none;
    }

    .login {
        width: 100%;
    }

    .instagram-form {
        border: 1px transparent;
    }
}